@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --golden-orange: #FFBC1E;
  --blackish-background: #282828;
  --light-grey: #E9E9E9;
  --default-transition: 0.1s all ease-in-out;
  --noto-sans-jp: 'Noto Sans JP', sans-serif;
  --pt-sans: 'PT Sans', sans-serif; }

.navbar {
  vertical-align: top;
  display: flex;
  margin: 0;
  height: 15vh;
  border-bottom: 5px solid var(--golden-orange);
  font-family: var(--pt-sans); }
  .navbar-title {
    font-family: var(--noto-sans-jp);
    padding: 1em;
    width: 30%;
    color: white;
    background: var(--blackish-background);
    font-size: 1.7rem;
    text-align: center; }
    .navbar-title-span {
      font-weight: bold;
      color: var(--golden-orange); }
  .navbar-link {
    margin-top: 1em;
    padding: 0.5em 2em;
    display: flex;
    width: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--default-transition);
    cursor: pointer; }
    .navbar-link:hover {
      color: var(--golden-orange); }
  .navbar-form-container {
    display: flex;
    padding: 0.7em;
    width: 30%;
    justify-content: center;
    align-items: center; }
    .navbar-form-container .search-input {
      border: 1px solid lightgrey;
      border-right: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      height: 40%;
      width: 20vw;
      padding: 1em; }
    .navbar-form-container .search-btn {
      height: 45%;
      width: 10%;
      border: 1px solid lightgrey;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .navbar-profile-container {
    padding: 1em;
    width: 20%;
    margin-right: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--default-transition); }
    .navbar-profile-container:hover {
      background-color: var(--light-grey); }
    .navbar-profile-container .profile-name-container {
      padding: 1em;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .navbar-profile-container .profile-name-container .profile-name {
        padding-right: 0.3em; }
        .navbar-profile-container .profile-name-container .profile-name-span {
          font-weight: bold; }
    .navbar-profile-container .profile-avatar-container {
      background-size: cover;
      height: 50px;
      width: 50px; }
      .navbar-profile-container .profile-avatar-container .profile-avatar-image {
        max-width: 100%;
        max-height: 100%;
        display: block;
        /* remove extra space below image */ }
  .navbar .down-arrow-icon {
    margin-top: 0.3em;
    font-size: 15px; }
  .navbar .active-tab {
    color: var(--golden-orange); }

.homepage-container {
  font-family: var(--pt-sans);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .homepage-container .anime-filters-container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .homepage-container .anime-filters-container .anime-filter {
      padding: 0.7em 2em;
      transition: var(--default-transition);
      cursor: pointer;
      font-size: 0.9rem; }
      .homepage-container .anime-filters-container .anime-filter:hover {
        color: var(--golden-orange);
        border-bottom: 3px solid var(--golden-orange); }
    .homepage-container .anime-filters-container .separator {
      font-size: 1.3rem;
      color: lightgrey; }
    .homepage-container .anime-filters-container .selected-filter {
      color: var(--golden-orange); }

.front-animes-container {
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center; }

.front-anime-container {
  width: 170px;
  height: 250px;
  background-color: red; }
