@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --golden-orange: #FFBC1E;
  --blackish-background: #282828;
  --light-grey: #E9E9E9;
  --blue: #15AFED;
  --dark-blue: #0063CF;
  --default-transition: 0.1s all ease-in-out;
  --noto-sans-jp: 'Noto Sans JP', sans-serif;
  --pt-sans: 'PT Sans', sans-serif; }

.navbar {
  vertical-align: top;
  display: flex;
  margin: 0;
  height: 15vh;
  border-bottom: 5px solid var(--golden-orange);
  font-family: var(--pt-sans); }
  .navbar-title {
    font-family: var(--noto-sans-jp);
    padding: 1em;
    width: 25%;
    color: white;
    background: var(--blackish-background);
    font-size: 1.7rem;
    text-align: center; }
    .navbar-title-span {
      font-weight: bold;
      color: var(--golden-orange); }
  .navbar-link {
    margin-top: 1em;
    padding: 0.5em 2.2em;
    display: flex;
    width: 12%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--default-transition);
    cursor: pointer; }
    .navbar-link:hover {
      color: var(--golden-orange); }
  .navbar-form-container {
    display: flex;
    padding: 0.7em;
    width: 30%;
    justify-content: center;
    align-items: center; }
    .navbar-form-container .search-input {
      border: 1px solid lightgrey;
      border-right: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      height: 40%;
      width: 20vw;
      padding: 1em; }
    .navbar-form-container .search-btn {
      height: 45%;
      width: 10%;
      border: 1px solid lightgrey;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .navbar-profile-container {
    padding: 1em 0.5em;
    width: 20vw;
    margin-right: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: var(--default-transition); }
    .navbar-profile-container:hover {
      background-color: var(--light-grey); }
    .navbar-profile-container .profile-name-container {
      padding-left: 1em;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .navbar-profile-container .profile-name-container .profile-name {
        padding-right: 0.3em; }
        .navbar-profile-container .profile-name-container .profile-name-span {
          font-weight: bold; }
    .navbar-profile-container .profile-avatar-container {
      background-size: cover;
      height: 50px;
      width: 50px; }
      .navbar-profile-container .profile-avatar-container .profile-avatar-image {
        max-width: 100%;
        max-height: 100%;
        display: block;
        /* remove extra space below image */ }
  .navbar .logout-btn {
    padding: 0 1em;
    height: 50%;
    align-self: center;
    margin-right: 2em;
    background: red;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    color: white;
    transition: var(--default-transition); }
    .navbar .logout-btn:hover {
      background: darkred; }
  .navbar .down-arrow-icon {
    margin-top: 0.3em;
    font-size: 15px; }
  .navbar .active-tab {
    color: var(--golden-orange); }
  .navbar-login-signup-container {
    display: flex;
    align-items: center; }
    .navbar-login-signup-container .auth-btn {
      font-weight: bold;
      font-size: 0.8rem;
      padding: 0.8em;
      background: var(--golden-orange);
      border: 1.5px solid lightgray;
      cursor: pointer;
      transition: var(--default-transition); }
      .navbar-login-signup-container .auth-btn:hover {
        border-color: black; }

.homepage-container {
  font-family: var(--pt-sans);
  margin: 0 auto;
  display: flex;
  padding-bottom: 1em;
  flex-direction: column;
  justify-content: space-between; }
  .homepage-container .anime-filters-container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .homepage-container .anime-filters-container .anime-filter {
      padding: 0.7em 2em;
      transition: var(--default-transition);
      cursor: pointer;
      font-size: 0.9rem; }
      .homepage-container .anime-filters-container .anime-filter:hover {
        color: var(--golden-orange);
        border-bottom: 3px solid var(--golden-orange); }
    .homepage-container .anime-filters-container .separator {
      font-size: 1.3rem;
      color: lightgrey; }
    .homepage-container .anime-filters-container .selected-filter {
      color: var(--golden-orange); }

.front-animes-container {
  display: flex;
  flex-direction: column; }
  .front-animes-container .animes {
    margin: 0 auto;
    margin-top: 2em;
    padding: 1em;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center; }
  .front-animes-container .container {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 2em; }
  .front-animes-container .page {
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer; }
  .front-animes-container .disabled {
    cursor: not-allowed; }
  .front-animes-container .active {
    border: 2px solid #000;
    font-weight: bold; }
  .front-animes-container .previous {
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer; }
  .front-animes-container .break {
    padding: 10px; }
  .front-animes-container .next {
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer; }

.front-anime-container {
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: var(--default-transition);
  text-decoration: none;
  color: black; }
  .front-anime-container:hover {
    transform: scale(1.1);
    margin-right: 6%;
    /* fallback for ancient browsers that don't support calc() */
    margin-right: calc(5% + 10px);
    margin-left: 5%; }
  .front-anime-container .anime-image-container {
    height: 250px;
    width: 100%;
    padding: 0.5em; }
    .front-anime-container .anime-image-container img {
      height: 100%;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      border-radius: 1.1rem; }
  .front-anime-container .anime-title {
    height: 40px;
    overflow: hidden;
    font-size: 0.9rem;
    padding: 0 0.5em;
    max-lines: 1;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center; }
  .front-anime-container .anime-stars-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 0.3em; }
  .front-anime-container .anime-members-container {
    background: var(--light-grey);
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.3em;
    border-bottom: 2rem; }
    .front-anime-container .anime-members-container .members-number {
      font-weight: bold; }
    .front-anime-container .anime-members-container .members-title {
      font-size: 0.8rem;
      color: lightgray; }

.footer-container {
  height: 30vh;
  display: flex;
  justify-content: space-between;
  background: var(--blackish-background);
  font-family: var(--noto-sans-jp); }
  .footer-container .left-container, .footer-container .right-container {
    padding: 2em 5em; }
  .footer-container .left-container {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center; }
    .footer-container .left-container-title {
      cursor: pointer;
      font-size: 1.8rem;
      color: lightgray;
      font-weight: 100; }
      .footer-container .left-container-title-span {
        font-weight: bold; }
    .footer-container .left-container-tab {
      cursor: pointer;
      font-size: 0.9rem;
      color: lightgray; }
  .footer-container .right-container {
    display: flex;
    align-items: center;
    width: 30%; }
    .footer-container .right-container-media-tab {
      cursor: pointer;
      font-size: 1.6rem;
      color: var(--light-grey);
      padding: 0.7em;
      transition: 0.1s all ease-in-out; }
      .footer-container .right-container-media-tab:hover {
        background: lightblue;
        color: var(--blackish-background); }

.auth-form-container {
  padding: 1em;
  background: var(--golden-orange);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .auth-form-container .auth-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1em;
    align-items: center; }
    .auth-form-container .auth-form .signup-name-inputs-container {
      display: flex;
      justify-content: space-between; }
      .auth-form-container .auth-form .signup-name-inputs-container input {
        width: 47%; }
    .auth-form-container .auth-form .auth-form-input {
      padding: 0.7em;
      margin-top: 1em;
      width: 90%;
      border-radius: 0.5rem;
      border: 1px solid black; }
    .auth-form-container .auth-form .auth-password-input {
      display: flex;
      width: 90%;
      align-items: center; }
      .auth-form-container .auth-form .auth-password-input .auth-form-input {
        width: 100%; }
      .auth-form-container .auth-form .auth-password-input .hide-password-icon {
        margin-top: 0.5em;
        display: flex;
        justify-content: center;
        padding: 0.4em; }
  .auth-form-container .auth-btn {
    padding: 0.7em 1.5em;
    background: var(--blackish-background);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: var(--default-transition); }
    .auth-form-container .auth-btn:hover {
      background: white;
      border: 1px solid black;
      color: black; }
  .auth-form-container .switch-mode {
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: var(--default-transition); }
    .auth-form-container .switch-mode:hover {
      text-decoration: underline; }
  .auth-form-container .google-auth-btn {
    margin-top: 1em; }

.anime-page-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 0.4em;
  font-family: var(--pt-sans); }
  .anime-page-container .left-container {
    width: 23%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid lightgray;
    padding-right: 0.4em;
    justify-content: space-between; }
    .anime-page-container .left-container .title {
      margin-top: 0.5em;
      font-size: 1.2rem; }
    .anime-page-container .left-container .poster {
      margin-top: 1em; }
    .anime-page-container .left-container .add-list-btn {
      padding: 1em;
      width: 50%;
      margin: 0 auto;
      margin-top: 1em;
      cursor: pointer;
      color: white;
      background: var(--blue);
      border: none;
      border-radius: 0.5rem;
      transition: var(--default-transition); }
      .anime-page-container .left-container .add-list-btn:hover {
        background: var(--dark-blue); }
  .anime-page-container .right-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-between; }
    .anime-page-container .right-container .top-part {
      display: flex; }
      .anime-page-container .right-container .top-part .stats-container {
        display: flex;
        background: var(--light-grey);
        padding: 1em; }
        .anime-page-container .right-container .top-part .stats-container .score-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-right: 1.2em;
          border-right: 2px solid lightgray; }
          .anime-page-container .right-container .top-part .stats-container .score-container .score-title {
            background: var(--dark-blue);
            color: white;
            border-radius: 0.2rem;
            font-size: 0.65rem;
            padding: 0.2em 1.4em; }
          .anime-page-container .right-container .top-part .stats-container .score-container .score {
            margin-top: 0.3em;
            font-size: 1.7rem;
            font-weight: bold; }
        .anime-page-container .right-container .top-part .stats-container-right-part {
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .anime-page-container .right-container .top-part .stats-container-right-part .top-container {
            display: flex;
            justify-content: space-around; }
            .anime-page-container .right-container .top-part .stats-container-right-part .top-container .rank, .anime-page-container .right-container .top-part .stats-container-right-part .top-container .popularity, .anime-page-container .right-container .top-part .stats-container-right-part .top-container .members {
              padding: 0em 1em; }
            .anime-page-container .right-container .top-part .stats-container-right-part .top-container .bold {
              font-weight: bold;
              font-size: 1.2rem; }
          .anime-page-container .right-container .top-part .stats-container-right-part .bottom-container {
            display: flex;
            font-size: 0.7rem; }
            .anime-page-container .right-container .top-part .stats-container-right-part .bottom-container .aired-from, .anime-page-container .right-container .top-part .stats-container-right-part .bottom-container .type, .anime-page-container .right-container .top-part .stats-container-right-part .bottom-container .producer {
              padding: 0em 1em;
              color: var(--dark-blue); }
            .anime-page-container .right-container .top-part .stats-container-right-part .bottom-container .aired-from, .anime-page-container .right-container .top-part .stats-container-right-part .bottom-container .type {
              border-right: 1.5px solid gray; }
      .anime-page-container .right-container .top-part .trailer-container {
        margin-left: 1em;
        border: none;
        height: 100%; }
    .anime-page-container .right-container .synopsis-container {
      padding: 1em 0;
      display: flex;
      flex-direction: column; }
      .anime-page-container .right-container .synopsis-container .title {
        font-weight: bold;
        padding: 0.5em 0;
        font-size: 0.9rem;
        border-bottom: 1px solid grey; }
      .anime-page-container .right-container .synopsis-container .synopsis {
        padding-top: 0.5em;
        font-size: 0.7rem; }
