.anime-page-container {
    // background: red;
    display: flex;
    width: 80%;
    margin: 0 auto;
    
    font-family: var(--pt-sans);

    .left-container {
        width: 23%;
        display: flex;
        flex-direction: column;
        border-right: 2px solid lightgray;
        padding: 0.3em;


        .title {
            font-size: 1rem;
        }

        .poster {
            margin-top: 1em;
        }

        .add-list-btn {
            padding: 1em;
            width: 50%;
            margin: 0 auto;
            margin-top: 1em;
        }
    }

    .right-container {

    }
    
}