.auth-form-container{
    padding: 1em;
    background: var(--golden-orange);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 55vh;

    .auth-form {
        //background: blue;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 1em;
        
        align-items: center;

        .signup-name-inputs-container {
            display: flex;
            justify-content: space-between;
            
            input {
                width: 47%;
            }
        }

        .auth-form-input {
            padding: 0.7em;
            margin-top: 1em;
            width: 90%;
            border-radius: 0.5rem;
            border: 1px solid black;
        }

        .confirm-pass-input {
            width: 100%;
            margin-top: 0;
        }
        .auth-confirm-pass-container {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0.5em 0;
            height: 13vh;
        }        

        .auth-password-input {
            display: flex;
            width: 90%;
            align-items: center;


            .auth-form-input {
                width: 100%;
            }
            .hide-password-icon {
                margin-top: 0.5em;
                display: flex;
                justify-content: center;
                padding: 0.4em;
            }
        }
    }

    .auth-btn {
        padding: 0.7em 1.5em;
        background: var(--blackish-background);
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: var(--default-transition);

        &:hover {
            background: white;
            border: 1px solid black;
            color: black;
        }
    }

    .switch-mode {
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 0.5em;
        
        padding: 1em;
        cursor: pointer;
        transition: var(--default-transition);

        &:hover {
            text-decoration: underline;
        }
    }

    .google-auth-btn {
        margin-top: 1em;
    }

    .invalid-input-container {
        position: absolute;
        bottom: 25vh;
        background: #171717;
        padding: 0.3em 0;
        color: white;
        width: 35vw;
        display: flex;
        justify-content: space-between;
        border-radius: 0.3rem;
        transition: var(--default-transition);

        .text-container {
            padding: 1em;
            font-weight: bold;
        }

        .close-btn {
            padding: 1em 2em;
            margin-right: 1em;
            background: #1139FF;
            border: none;
            border-radius: 0.3rem;
            color: white;
            cursor: pointer;
            transition: var(--default-transition);

            .btn-icon {
                font-size: 1.3rem;
            }

            &:hover {
                background-color: #0A28BF;
            }

        }
    }
}