.back-anime-container {
    display: flex;
    flex-direction: row;
    height: 25vh;
    //width: 45%;
    //background-color: lightblue;
    background-color: #6699FF;
    // font-family: var(--noto-sans-jp);
    font-family: var(--pt-sans);
    border: 2px solid var(--golden-orange);
    border-radius: 0.2rem;

    .poster {
        height: 24.5vh;
        width: 20vh;
    }

    .middle-container {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;

        .title {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .added-at {
            font-size: 0.8rem;
        }
    }
    
    .current-episode-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40%;
        //background-color: red;

        .title {
            padding:1em;
        }
        .episode-counter {
            margin-top: 1em;
            font-size: 1.2rem;
        }

        .current-episode-controller-container {
            padding: 0.8em 0;
            display: flex;
            width: 50%;
            justify-content: space-between;

            .arrow-controller {
                cursor: pointer;
                transition: var(--default-transition);
                //font-size: 1.3rem;
                padding: 0.2em 0.5em;
                border-radius: 0.2rem;

                &:hover {
                    background: lightgrey;
                }
            }

            .disabled {
                color: grey;
                cursor: auto;
            }
        }
    }

    .remove-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        padding: 0 0.3em;

        .remove-button {
            padding: 1em;
            font-size: 0.8rem;
            background: #FF5151;
            cursor: pointer;
            border: none;
            color: white;
            border-radius: 0.7rem;
            transition: var(--default-transition);

            &:hover {
                color: black;
                background-color: red;
            }
        }
    }
}