.my-anime-list-container {
    min-height: 55vh;
    margin: 0 auto;
    padding: 0 1.5em;
    background-color: var(--media-grey);
    border-bottom: 2px solid grey;

    .list-container {
        padding: 2em;
        //background-color: red;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        // justify-content: center;
    }

    .empty-list-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        height: 55vh;
    }
}

.my-list-no-user-container {
    min-height: 55vh;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
}