.loading-container {
    min-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.community-members-container {
    min-height: 55vh;
    background: var(--media-light-grey);
    padding: 2.5em;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}

.blur {
    backdrop-filter:blur(5px);
}