.comment-container {
    width: 100%;
    //padding: 0.3em;
    color: white;
    font-family: var(--pt-sans);
    display: flex;
    flex-direction: row;
    transition: var(--default-transition);
    

    .left-container {
        display: flex;
        // justify-content: center;
        align-items: center;
        padding: 1em;
        flex-direction: column;

        .profile-pic {
            width: 50px;
            height: 20%;
            min-height: 50px;
            max-height: 50px;
            border-radius: 0.5rem;
            cursor: pointer;
        }

        .line-container {
            cursor: pointer;
            padding: 0 1em;
            height: 90%;
            width: 3px;
            margin-top: 0.3em;

            .line {
                background: grey;
                width: 3px;
                height: 100%;
            }
        }

        .show-content-icon-container {
            margin-top: 0.3em;
            cursor: pointer;
            padding: 0.2em;
            font-size: 1.3rem;
            color: grey;
            transition: var(--default-transition);

            &:hover {
                color: white;
            }
        }
    }

    .right-container {
        padding: 0.3em 1em;
        flex-direction: column;
        transition: var(--default-transition);

        .sub-comment-list-container {
            // background: red;
            margin-top: 0.3em;
        }

        .poster-container {
            display: flex;
            flex-direction: row;
            align-items: center;
    
            .poster-name {
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
    
            .created-at {
                font-size: 0.8rem;
                margin-left: 0.5em;
                color: grey;
            }
        }

        .content-container {
            padding: 1em 0;
            max-height: 20vh;
            width: 60vw;
            overflow: hidden;
        }

        .voting-comment-container {
            display: flex;
            flex-direction: row;
            padding: 0.3em;

            .comment-btn {
                display: flex;
                flex-direction: row;
                cursor: pointer;
                padding: 0.7em 1em;
                background: none;
                color: grey;
                border: none;
                border-radius: 0.3rem;
                margin-left: 1em;
        
                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                }

                .btn-text {
                    font-size: 1rem;
                    margin-left: 0.4em;
                }

                &:hover {
                    background: var(--media-hover-grey);
                    color: lightgrey;
                }
            }

            .voting-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0em 0.5em;
                width: 4vw;
                justify-content: space-between;
                color: grey;
                margin-left: -0.5em;
            
                .vote-icon {
                    padding: 0.1em 0.2em;
                    border-radius: 0.3rem;
                    transition: var(--default-transition);
                    cursor: pointer;
                    font-size: 1.1rem;
            
                    &:hover {
                        background: var(--media-hover-grey);
                    }
                }
            
                .up {
                    &:hover {
                        color: red;
                    }
                }
            
                .upvoted {
                    color: red;
                }
            
                .down {
                    &:hover {
                        color: lightskyblue;
                    }
                }
            
                .downvoted {
                    color: lightskyblue;
                }
            }
        }

        .reply-comment-input-container {
            border-radius: 0.3rem;
            border:solid 1px grey;
            margin-top: 0.3em;
            width: 80%;
            padding: 0.3em;
            display: flex;
            flex-direction: row;
            align-items: center;

            .logged-user-avatar {
                height: 40px;
                width: 40px;
                border-radius: 0.5rem;
                cursor: pointer;
            }

            .input {
                margin-left: 1em;
                padding: 0.5em;
                height: 80%;
                width: 60%;
                background: none;
                font-size: 1rem;
                border:solid 1px grey;
                color: white;
                border-radius: 0.3rem;
            }

            
                
            .reply-btn {
                margin-left: 0.5em;
                padding: 0.3em 1em;
                font-size:0.9rem;
                border-radius: 0.3rem;
                font-weight: bold;
                color: lightgrey;
                border: solid 2px grey;
                background: none;   
                    

                cursor: pointer;
                background: var(--media-grey);
                transition: var(--default-transition);

                &:hover {
                    background: var(--media-light-grey);

                }
            }
            
        }
    }
}

.loading-container {
    // margin: 0 auto;
    // background: red;
     width: 10vw;
    height: 5vh;
    display: flex;

    .loading {
        max-height: 5vh;
    }
}