.community-container {
    min-height: 55vh;
    background: var(--media-grey);
    font-family: var(--noto-sans-jp);

    .upper-container {
        background-color: var(--media-light-grey);
        background-color: #4B4B4B;
        min-height: 30vh;
        padding: 2em 10em;
        display: flex;
        align-items: flex-end;
        color: white;

        .content-container {
            display: flex;
            
            .avatar {
                height: 100px;
                width: 100px;
                border-radius: 0.5rem;
            }

            .title-container {
                padding: 1em;
                margin-left: 1em;

                .title {
                    font-size: 1.6rem;
                    font-weight: bold;
                }

                .secondary-title {
                    margin-top: 1em;
                    color: grey;
                    font-size: 0.8rem;
                }
            }

            .subscribe-btn{
                margin-left: 1em;
                margin-top: 0.5em;
                height: 100%;
                padding: 0.8em 1em;
                border-radius: 1rem;
                border: 1px solid white;
                background: var(--media-light-grey);
                color: white;
                font-size: 0.9rem;
                cursor: pointer;
                transition: var(--default-transition);
                font-weight: bold;

                &:hover {
                    background: var(--media-hover-grey);
                }
            }
        }
    }

    .lower-container {
        padding: 1em 2em;
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left-container {
            width: 60%;

        }

        .right-container {
            color: white;
            width: 30%;

            .about-container {
                border: 0.1px solid white;
                border-radius: 0.3rem;
                max-height: 30vh;
                padding: 0.5em 1em;

                .title {
                    color: grey;
                    font-size: 0.8rem;
                }
    
                .description {
                    margin-top: 1.5em;
                    font-size: 0.9rem;
                    font-weight: bold;
                    max-height: 10vh;
                    overflow: hidden;
                }
    
                .total-members {
                    margin: 0 auto;
                    width: 35%;
                    align-items: center;
                    padding-top: 0.2em;
                    padding-bottom: 0.2em;
                    margin-top: 1em;
                    display: flex;
                    flex-direction: column;
                    transition: var(--default-transition);
                    border-radius: 0.3em;
    
                    .number {
                        font-weight: bold;
                    }
    
                    .members {
                        font-size: 0.7rem;
                        color: grey;
                        margin-top: 0.4em;
                    }

                    &:hover {
                        background: var(--media-light-grey);
                    }
                }
    
                .created-at {
                    margin-top: 1.4em;
                    font-size: 0.8rem;
                }
            }
            
            .moderators-container {
                margin-top: 1em;
                min-height: 20vh;
                padding: 0.5em 1em;
                border: 0.1px solid white;
                border-radius: 0.3rem;

                .title {
                    color: grey;
                    font-size: 0.8rem;
                }

                .moderator-list {
                    margin-top: 1em;     
                }
            }
        }
    }
}