@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    // Global Variables

    // Colors
    --golden-orange: #FFBC1E;
    --blackish-background: #282828;
    --light-grey: #E9E9E9;
    --blue: #15AFED;
    --dark-blue: #0063CF;
    --dark-green: #41C327;
    --hover-green: #48DE2A;
    --faint-green:#9AFF86;
    --remove-red: #E21F09;
    --remove-red-hover: #FF341E;
    --media-grey: #212121;
    --media-light-grey:#373737;
    --media-hover-grey:#292929;
    // Transitions
    --default-transition: 0.1s all ease-in-out;

    // Fonts
    --noto-sans-jp: 'Noto Sans JP', sans-serif;
    --pt-sans: 'PT Sans', sans-serif;
}