.overlay {
    position:absolute;
    left: 0;
    z-index:999;
    width:100%;
    height:100%;
    background-color: black;
    background-color:rgba(0,0,0,.75);

    .create-community-container {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 40%;
        background: var(--media-grey);
        margin-top: 0.2em;
        min-height: 40vh;
        //padding: 0.5em 1em;
        border: solid 1px grey;
        border-radius: 0.3rem;

        .invalid-data-container {
            position: absolute;
            padding: 0.5em 1em;
            margin-top: 1em;
            background-color: #FF1C1C;
            border-radius: 0.5rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .message {
                font-size: 1rem;
                font-weight: bold;
            }

            .close-btn {
                padding: 0.5em 2em;
                background: var(--media-light-grey);
                border: solid 1px white;
                color: white;
                border-radius: 1rem;
                cursor: pointer;

                &:hover {
                    background-color: var(--media-grey);
                }
            }
        }

        .title-container {
            padding: 0.8em;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            border-bottom: solid 1px grey;

            .title {
                color: white;
                font-size: 1rem;
            }

            .icon {
                font-size: 1.5rem;
                cursor: pointer;
                color: grey;
            }
        }

        .title-input-section {
            padding: 0.8em;
            display: flex;
            flex-direction: column;
            border-bottom: solid 1px grey;
            color: white;
            height: 25vh;
            justify-content: space-between;

            .title-text {
                .title {
                    font-size: 1.1rem;
                }

                .small-text {
                    margin-top: 0.4em;
                    font-size: 0.7rem;
                    color: grey;
                }
            }

            .title-input-container {
                .input{
                    width: 100%;
                    padding: 0.5em;
                    background: var(--media-grey);
                    border: solid 1px grey;
                    border-radius: 0.2rem;
                    color: white;
                }

                .char-counter {
                    margin-top: 1em;
                    font-size:0.8rem;
                    color: grey;
                }
            }
        }

        .description-input-section {
            padding: 0.8em;
            display: flex;
            flex-direction: column;
            border-bottom: solid 1px grey;
            color: white;

            .title {
                font-size: 1.1rem;
            }

            .description-input {
                margin-top: 1em;
                width: 90%;
                padding: 0.5em;
                background: var(--media-grey);
                border: solid 1px grey;
                border-radius: 0.2rem;
                color: white;
                overflow-wrap: break-word;
                resize: none;
            }

            .char-counter {
                margin-top: 1em;
                font-size: 0.8rem;
                color: grey;
            }
        }

        .avatar-img-section {
            padding: 0.8em;
            display: flex;
            flex-direction: column;
            //justify-content: center;
            //align-items: center;
            border-bottom: solid 1px grey;
            color: white;
            height: 13vh;
            justify-content: space-between;

            .title {
                font-size: 0.9rem;
            }

            
        }

        .btns-container {
            display: flex;
            background: var(--media-light-grey);
            justify-content: flex-end;
            padding: 0.5em;

            .cancel-btn {
                margin-right: 1em;
                background: var(--media-light-grey);
                border: solid 1px white;
                color: white;
                border-radius: 1rem;
                padding: 0.5em;
                width: 20%;
                font-size: 0.9rem;
                cursor: pointer;
                font-weight: bold;

                &:hover {
                    background: #292929;
                }
            }
            
            .create-btn {
                padding: 0.5em;
                font-size: 0.9rem;
                border-radius: 1rem;
                border: none;
                color: black;
                background: lightgray;
                font-weight: bold;
                width: 35%;
                cursor: pointer;

                &:hover {
                    background: #E8E8E8;
                }
            }
        }
    }
}