.front-animes-container {
    display: flex;
    flex-direction: column;

    .animes {
        margin: 0 auto;
        margin-top: 2em;
        padding: 1em;

        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }

    .container{
        display: flex;
        list-style: none;
        justify-content: center;
        margin-top: 2em;
    }
    
    .page{
        padding: 10px;
        border: 1px solid #dcdcdc;
        border-radius: 6px;
        margin-right: 10px;
        cursor: pointer;
    }
    
    .disabled{
        cursor: not-allowed;
        
    }
    
    .active{
        border: 2px solid #000;
        font-weight: bold;
    }
    
    .previous{
        padding: 10px;
        border-radius: 6px;
        margin-right: 10px;
        cursor: pointer;
    }
    
    .break{
        padding: 10px;
    }
    
    .next{
        padding: 10px;
        border-radius: 6px;
        margin-right: 10px;
        cursor: pointer;
    }
}