.homepage-container {
    font-family: var(--pt-sans);
    margin: 0 auto;
    display: flex;
    padding-bottom: 1em;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F6F6F6;
    
    .anime-filters-container {
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .anime-filter {
            padding: 0.7em 2em;
            transition: var(--default-transition);
            cursor: pointer;
            font-size: 0.9rem;

            &:hover {
                color: var(--golden-orange);
                border-bottom: 3px solid var(--golden-orange);
            }
        }

        .separator {
            font-size: 1.3rem;
            color: lightgrey;
        }

        .selected-filter {
            color:var(--golden-orange);
        }
    }
}