.filters-container {
    border-radius: 0.3rem;
    border: 0.1px solid white;
    display: flex;
    padding: 1em;
    justify-content: space-around;
    background: var(--media-grey);
    color: grey;

    .filter-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        padding: 1em 0.5em;
        transition: var(--default-transition);
        cursor: pointer;
        border-radius: 1rem;

        &:hover {
            background:var(--media-light-grey);
        }

        .icon {
            font-size: 1rem;
        }

        .text {
            font-size: 1rem;
            font-weight: bold;
            margin-left: 0.5em;
        }
    }

    .selected-filter {
        background: #2F2F2F;
        color: #C0C0C0;
    }
}