.member-tab-container {
    display: flex;
    flex-direction: row;
    background: var(--media-hover-grey);
    margin-top: 1em;
    padding: 1em;
    border-radius: 1.4rem;
    border: solid 1px white;
    color: white;
    height: 75%;
    justify-content: space-between;
    align-items: center;
    transition: var(--default-transition);

    

    .left-container {

        margin-left: 1em;
        cursor: pointer;
        padding: 1em;
        border-radius: 0.5rem;

        &:hover {
            background: var(--media-grey);
        }

        .avatar-img {
            height: 120px;
            width: 120px;
            border-radius: 0.8rem;
        }

        .username {
            margin-top: 0.2em;
            font-size: 1.4rem;
        }
    }

    .privileged-features-container {
        // background: red;
        margin-right: 1em;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;

        .btns-container {
            // display: grid;
            // grid-gap: 20px;
            // grid-template-columns: repeat(2, 1fr);
            width: 80%;

            .btn {
                padding: 1.5em;
                border-radius: 0.7rem;
                border: none;
                font-weight: 600;
                cursor: pointer;
                margin-top: 1em;
                margin-left: 1em;
                width: 40%;
                font-size: 0.9rem;
                border: 1px solid white;
            }   
            
            .admin-btns-container {
                display: flex;
                transition: var(--default-transition);


                .admin-btn, .mod-btn {
                    background: var(--dark-green);

                    &:hover {
                        background: var(--hover-green);
                    }
                }

                .disabled-admin-btn {
                    background: var(--faint-green);
                    cursor: auto;
                }

                .remove-mod-btn {
                    background: var(--remove-red);
                    transition: var(--default-transition);
                    font-weight: bold;

                    &:hover {
                        background: var(--remove-red-hover);
                    }
                }
            }        
            
            .remove-btn {
                background: var(--remove-red);
                transition: var(--default-transition);
                font-weight: bold;
                &:hover {
                    background: var(--remove-red-hover);
                }
            }

            .block-btn {
                background: var(--remove-red);
                transition: var(--default-transition);
                font-weight: bold;
                &:hover {
                    background: var(--remove-red-hover);
                }
            }
        }
    }

    
    .add-admin-pop-up-container {
        color: black;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        transition: var(--default-transition);
        background: rgba($color: #000000, $alpha: 0.7);


        .add-admin-pop-up{
            background: #F3F3F3;
            padding: 1.5em 2em;
            text-align: center;
            border: solid 7px var(--blue);
            border-radius: 1rem;
            width: 400px;
            opacity: 1;
    
            .alert-text {
                font-size: 1.3rem;
                font-weight: bold;
            }
    
            .alert-text-secondary {
                font-size: 0.9rem;
                margin-top: 1em;
            }
    
            .btns-container {
                
                width: 70%;
                margin: 0 auto;
                margin-top: 1em;
                padding: 0.5em;
                display: flex;
                justify-content: space-between;
    
                .btn {
                    padding: 1.3em;
                    cursor: pointer;
                    transition: var(--default-transition);
                    border-radius: 0.5rem;
                    border: none;
                }
    
                .cancel-btn {
                    background: red;
                    color: black;
                    font-weight: 600;
                    border: none;
    
                    &:hover {
                        background: var(--remove-red);
                    }
                }
    
                .confirm-btn {
                    background: var(--dark-green);
                    font-weight: 600;
    
                    &:hover {
                        background: var(--hover-green);
                    }
                }
            }
        }
    }  
}