.posts-list-container {
    width: 100%;
    margin-top: 1em;
    color: white;

    .posts-container {
        padding: 1em;
        margin-top: 1em;
        border-radius: 0.3rem;
        border: 0.1px solid white;
    }
}