.profile-container {
    min-height: 55vh;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    .upper-container {
        background: var(--media-light-grey);
        padding: 1em 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 40vh;
        border-bottom: solid 1px grey;
        align-items: flex-end;

        .user-info-container{
            display: flex;
            flex-direction: row;
            padding: 1em;
            align-items: flex-end;
            margin-top: 1em;
            

            .profile-avatar {
                height: 150px;
                width: 150px;
                border-radius: 0.5rem;
            }

            .user-info {
                margin-left: 1em;
                padding: 1em;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .user-name {
                    font-weight: bold;
                }

                .created-at {
                    margin-top: 1em;
                    font-size: 0.7rem;
                    color: lightgrey;
                }
            }

        }

        .settings-icon-container {
            display: flex;
            align-items: flex-end;
            font-size: 2rem;
            padding: 0.3em;
            border-radius: 0.7rem;
            margin-right: 1em;
            transition: var(--default-transition);

            .settings-icon {
                cursor:pointer;
            }

            &:hover {
                background: var(--media-hover-grey);
            }
        }
    }

    .lower-container {
        min-height: 40vh;
        background: var(--media-grey);
    }
}

.no-user-container {
    min-height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}